---
import Layout from "../layouts/Layout.astro";
---

<Layout title="tldp | تست لینک درگاه پرداخت">
    <main>
        <h1>تست لینک درگاه پرداخت</h1>
        <!-- TODO html lint -->
        <!-- TODO accesibility -->
        <form id="form">
            <input type="text" dir="ltr" autofocus name="link" placeholder="https://sep.shaparak.ir/..." />
            <br />
            <button type="submit">تست کن</button>
        </form>
    </main>
</Layout>

<script>
    import { isHttps, isValidPaymentGateway, isValidUrl } from "../utils";

    let errors = [],
        infos = [],
        link;
    const handleSubmit = (e) => {
        e.preventDefault();
        errors = [];
        infos = [];
        link = document.querySelector("input").value.trim();
        if (link.length === 0) {
            infos.push("لطفا لینک رو وارد کنید...");
        } else if (!isValidUrl(link)) {
            infos.push("متن وارد شده لینک نیست!");
        } else if (!isHttps(link)) {
            errors.push("لینک وارد شده از پروتکل https استفاده نمیکنه!");
        } else {
            isValidPaymentGateway(link, (valid, company) => {
                if (!valid) {
                    errors.push("لینک وارد شده در لیست درگاه های معتبر یافت نشد!");
                } else {
                    console.log(valid, company);
                }
            });
			// مارو گیر آوردی؟! :)
			// خطر
			// امنه
            // TODO
            // فکر میکنید tldr اشتباه میکند؟
            // به پشتیبانی پیام دهید


			// for info text
			// for error xxx alert

			
        }

        errors.length > 0 && console.log(errors);
        infos.length > 0 && console.log(infos);
    };
    document.getElementById("form").addEventListener("submit", handleSubmit);
</script>

<style>
    main {
        text-align: center;
    }

    form input {
        margin-bottom: 10px;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
</style>
